<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Create_RouteMap_MkMapView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>587687C61D001EEF00C2ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587687DF1D001EF000C2ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587687EA1D001EF000C2ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
